:root {
    background-color: #F4EBE2;
    font-family: Nunito;
    color: rgba(39, 39, 39, 0.95);
    font-weight: bold;
}

.logo-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.logo-title img {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
}

body {
    display: flex;
    flex-direction: column;
    gap: 5svh;
    margin: 0 !important;
    padding: 2svh 3rem 0 3rem !important;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5svh;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 5svh;
}

main img {
    width: 374px;
    height: 720px;
}

p a {
    text-decoration: underline;
    padding: 0 !important;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: rgba(39, 39, 39, 0.95);
    padding: 0.5rem;
    margin-block: 0 !important;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 4rem;
    margin-block: 0 !important;
}

h2 {
    font-size: 2.5rem;
    margin-block: 0 !important;
}

h3 {
    font-size: 1.5rem;
    margin-block: 0 !important;
}

p {
    font-size: 1rem;
    margin-block: 0 !important;
}